# Uppgift 2 - Uppvärmning vaccindata

In [35]:
import pandas as pd
path = "Data/Folkhalsomyndigheten_Covid19_Vaccine.xlsx"
vaccination_kommun = pd.read_excel(path, sheet_name="Vaccinerade kommun")
vaccination_kommun.head()

,KnKod,KnNamn,Antal_dos1,Antal_färdigvaccinerade,Andel_dos1,Andel_färdigvaccinerade
0,114,Upplands Väsby,30030,27537,0.789183,0.723668
1,115,Vallentuna,23165,21681,0.858344,0.803357
2,117,Österåker,32922,30615,0.876751,0.815313
3,120,Värmdö,31618,28831,0.865180,0.788918
4,123,Järfälla,51550,47186,0.786459,0.719880

In [36]:
vaccination_ålder = pd.read_excel(path, sheet_name="Vaccinerade ålder")
vaccination_ålder.head()

,Region,Åldersgrupp,Antal vaccinerade,Andel vaccinerade,Vaccinationsstatus
0,| Sverige |,12-15,61430,0.124423,Minst 1 dos
1,| Sverige |,16-17,164274,0.697477,Minst 1 dos
2,| Sverige |,18-29,1103074,0.743473,Minst 1 dos
3,| Sverige |,30-39,1091243,0.765540,Minst 1 dos
4,| Sverige |,40-49,1084644,0.837383,Minst 1 dos

In [37]:
vaccination_ålder = vaccination_ålder[vaccination_ålder['Region'] != "| Sverige |"]
vaccination_ålder = vaccination_ålder[vaccination_ålder['Åldersgrupp'] != "Totalt"]
vaccination_ålder = vaccination_ålder[vaccination_ålder['Vaccinationsstatus'] != "Färdigvaccinerade"]
vaccination_ålder.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210 entries, 22 to 471
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Region              210 non-null    object
 1   Åldersgrupp         210 non-null    object
 2   Antal vaccinerade   210 non-null    int64
 3   Andel vaccinerade   210 non-null    float64
 4   Vaccinationsstatus  210 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 9.8+ KB

## a,b,c)

In [38]:
print(f"Antal kommuner :{len(vaccination_kommun['KnNamn'].unique())}")
print(f"Antal län :{len(vaccination_ålder['Region'].unique())}")
print(f"Antal vaccinerade minst 1 dos : {vaccination_ålder['Antal vaccinerade'].sum()}")

Antal kommuner :290
Antal län :21
Antal vaccinerade minst 1 dos : 7274049

In [42]:
vaccination_ålder_barn = vaccination_ålder[vaccination_ålder['Åldersgrupp'] == "12-15"]

#På så sätt återskapar jag befolkningen
vaccination_ålder_barn["Population"] = vaccination_ålder_barn.apply(lambda row: row["Antal vaccinerade"] / row["Andel vaccinerade"], axis = 1)
vaccination_ålder_barn.head()

/var/folders/f7/yr1v3cr12blbcs1mz2hr4b_m0000gn/T/ipykernel_3787/1271160705.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vaccination_ålder_barn["Population"] = vaccination_ålder_barn.apply(lambda row: row["Antal vaccinerade"] / row["Andel vaccinerade"], axis = 1)

,Region,Åldersgrupp,Antal vaccinerade,Andel vaccinerade,Vaccinationsstatus,Population
22,Stockholm,12-15,17482,0.149310,Minst 1 dos,117085.0
44,Uppsala,12-15,3194,0.174631,Minst 1 dos,18290.0
66,Södermanland,12-15,2286,0.153495,Minst 1 dos,14893.0
88,Östergötland,12-15,5341,0.243359,Minst 1 dos,21947.0
110,Jönköping,12-15,6062,0.338867,Minst 1 dos,17889.0

In [43]:
vaccination_ålder_vuxen = vaccination_ålder[vaccination_ålder['Åldersgrupp'] != "12-15"]
vaccination_ålder_vuxen["Population"] = vaccination_ålder_vuxen.apply(lambda row: row["Antal vaccinerade"] / row["Andel vaccinerade"], axis = 1)

vaccination_ålder_vuxen.head()

/var/folders/f7/yr1v3cr12blbcs1mz2hr4b_m0000gn/T/ipykernel_3787/2501410605.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vaccination_ålder_vuxen["Population"] = vaccination_ålder_vuxen.apply(lambda row: row["Antal vaccinerade"] / row["Andel vaccinerade"], axis = 1)

,Region,Åldersgrupp,Antal vaccinerade,Andel vaccinerade,Vaccinationsstatus,Population
23,Stockholm,16-17,35496,0.641405,Minst 1 dos,55341.0
24,Stockholm,18-29,244594,0.713703,Minst 1 dos,342711.0
25,Stockholm,30-39,280144,0.740391,Minst 1 dos,378373.0
26,Stockholm,40-49,272736,0.811864,Minst 1 dos,335938.0
27,Stockholm,50-59,269307,0.869490,Minst 1 dos,309730.0

## d)

In [52]:
total_12_15 = vaccination_ålder_barn["Population"].sum()
total_vuxen = vaccination_ålder_vuxen["Population"].sum()
sveriges_population = 10379295

total_under_12 = sveriges_population - total_12_15 - total_vuxen
total_under_16 = total_under_12 + total_12_15
print(f"Sveriges befolkining består av {sveriges_population} invånare.\nAv dessa är {total_under_16} under 16, varav {total_under_12} är även under tolv. Det finns {total_vuxen} vuxna.")

Sveriges befolkining består av 10379295 invånare.
Av dessa är 1837798.0 under 16, varav 1344078.0 är även under tolv. Det finns 8541497.0 vuxna