In [2]:
import numpy as np
import pandas as pd

nrows, ncols = 1000000, 100
df1, df2, df3, df4 = [pd.DataFrame(np.random.randn(nrows, ncols)) for _ in range(4)]

In [3]:
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.610003,-1.031753,0.233453,0.384935,1.020578,-1.617181,-1.643004,0.440204,-0.879548,0.654030,...,0.034791,1.277198,0.251999,-1.504475,1.684855,-1.567528,-0.660696,0.627932,-1.255720,0.762740
1,0.807767,0.915843,1.495467,-0.099259,-1.042285,-0.478976,-0.487552,-0.825800,0.001986,-0.562863,...,0.867247,-0.353936,-2.037303,-0.070677,0.736122,0.428248,0.260496,0.061098,0.023052,-0.024417
2,1.228179,0.252594,1.211377,0.845323,-1.854173,-0.570053,-0.542776,-0.250490,0.467115,-0.095801,...,-0.067695,1.240601,-0.417079,0.129617,-2.109742,0.356898,-0.684118,-1.293436,-0.369635,1.924682
3,0.026919,-0.048768,0.023874,-0.530608,0.458422,0.567452,-0.690086,-1.534650,-0.607978,-1.243452,...,-0.950031,0.061123,0.850162,-0.222121,1.251091,-0.739175,0.428279,-0.029419,0.060762,0.431145
4,1.671579,-0.614628,-0.548773,1.067427,0.525899,-0.255483,-0.953490,-0.267582,-0.738972,0.160210,...,0.881884,-1.131615,0.546031,0.597201,0.891077,-1.280839,0.943638,0.614540,-1.404644,0.153180

In [4]:
%timeit df1 + df2 +df3 +df4

563 ms ± 6.92 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [6]:
%timeit pd.eval("df1 + df2 + df3 + df4")

230 ms ± 8.65 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [7]:
plain = df1 + df2 + df3 + df4
sum_eval = pd.eval("df1 + df2 + df3 + df4")

sum_eval.equals(plain)

True

In [9]:
rolls = pd.DataFrame(np.random.randint(1,6, (6,3)), columns = ["Die1", "Die2", "Die3" ])
rolls.eval("Sum = Die1 + Die2 + Die3", inplace = True)
rolls

   Die1  Die2  Die3  Sum
0     3     3     5   11
1     1     1     4    6
2     5     3     4   12
3     3     5     3   11
4     2     5     2    9
5     1     3     5    9

In [10]:
#use variables
high = 10
rolls.eval("Winner = Sum > @high", inplace = True)
rolls

   Die1  Die2  Die3  Sum  Winner
0     3     3     5   11    True
1     1     1     4    6   False
2     5     3     4   12    True
3     3     5     3   11    True
4     2     5     2    9   False
5     1     3     5    9   False

In [11]:
#Filter out traditional way
rolls[rolls["Sum"] <= high]

   Die1  Die2  Die3  Sum  Winner
1     1     1     4    6   False
4     2     5     2    9   False
5     1     3     5    9   False

In [12]:
rolls.query("Sum <= @high")

   Die1  Die2  Die3  Sum  Winner
1     1     1     4    6   False
4     2     5     2    9   False
5     1     3     5    9   False

In [13]:
%timeit rolls.query("Sum <= @high")

720 µs ± 11.8 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [15]:
%timeit rolls[rolls["Sum"] <= high]

131 µs ± 136 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [14]:
olympic_games = pd.read_csv("./Data/athlete_events.csv")